@using Epam.Forums.WebUI.Models;
@{
    Layout = "~/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/goBack.js"></script>
}

@{

    if (IsPost)
    {
        AntiForgery.Validate();
        var currentPassword = Request["currentPassword"];
        var password = Request["Password"];
        var confirmPassword = Request["ConfirmPassword"];

        Validation.RequireFields("currentPassword", "Password", "ConfirmPassword");
        Validation.Add("Password", Validator.StringLength(16, 6));
        if (confirmPassword != password)
        {
            Validation.AddFormError("Sorry passwords do not match");
        }

        if (Validation.IsValid())
        {

            if (Common.UserBll.ChangePassword(User.Identity.Name, currentPassword, password))
            {
                <div class="alert alert-success">
                    Password has been changed
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    Current password is wrong
                </div>
            }
        }
    }

}
<form method="post">
    @AntiForgery.GetHtml()
    <fieldset>

        <legend>Change password</legend> @Html.ValidationSummary(true)
        <div class="form-group">
            <label>Current Password</label>
            <input autocomplete="off" class="form-control" type="password" name="currentPassword" placeholder="Enter current Password" />
            @Html.ValidationMessage("currentPassword")
        </div>
        <div class="form-group">
            <label>Password</label>
            <input autocomplete="off" class="form-control" type="password" name="Password" placeholder="Enter new password" />
            @Html.ValidationMessage("Password")
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input autocomplete="off" class="form-control" type="password" name="ConfirmPassword" placeholder="Enter new password again" />
            @Html.ValidationMessage("ConfirmPassword")
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Change Password" />
            <a class="btn btn-default" name="id" href="~/Users/Details?id=@Common.UserBll.GetUserByLogin(User.Identity.Name).Id">Go back to user's details</a>
        </div>
    </fieldset>
</form>

